.about-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.main-text {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 20px;
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #060fb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
